@import '/src/assets/styles/variables';
.wrapper {
	display: flex;

	flex-direction: column;

	height: 100%;
	max-width: 375px;
	width: 100%;

	padding: 25px;
	margin: 0 auto;



	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&.otherPage {
		height: 200px;
		border-radius: 0 0 20px 20px;


		
	}
}

.heading {
	text-transform: uppercase;
	color: $white;
	font-size: 30px;
	text-align: center;
	
	font-weight: bold;
	
}
