@import '/src/assets/styles/variables';
.wrapper {
	
	background-color: $block-color-dark;
	width: 100%;
	height: 150px;
	border-radius: 20px;
	display: flex;
	padding: 15px;
	margin-bottom: 20px;

	.img {
		min-width: 120px;
		height: 120px;
		margin: auto 0;
		margin-right: 20px;
		background-color: #3b4141;
		border-radius: 50%;
		position: relative;
		img {
			position: absolute;
			height: 70px;
			width: 60px;
			display: block;
			left: 50%;
			top: 60%;
			transform: translate(-50%, -50%)


			
		}
	}
	.info_block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.name {
			font-size: 24px;
			line-height: 30px;

		}
		.info {
			font-size: 14px;

			.post {
				color: blue;
				line-height: 10px;
				text-align: left;
			}
			.id {
				color: white;
				text-transform: uppercase;
				text-align: left;
			}
		}
	}
}
