@import '/src/assets/styles/variables';
.wrapper {
	
	background-color: $white;
	width: 100%;
	height: 150px;
	border-radius: 20px;
	display: flex;
	padding: 15px;
	margin-bottom: 20px;

	.img {
		min-width: 120px;
		height: 120px;
		margin: auto 0;
		margin-right: 20px;
		img {
			border-radius: 50%;
			width: 100%;
			height: 100%;
		}
	}
	.info_block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.name {
			font-size: 24px;
			line-height: 30px;

		}
		.info {
			font-size: 14px;

			.post {
				color: blue;
				line-height: 10px;
				text-align: left;
			}
			.id {
				color: gray;
				text-transform: uppercase;
				text-align: left;
			}
		}
	}
}
