@import 'src/assets/styles/variables';
@keyframes scaleIn {
	0% {
		opacity: 0;
		transform: scale(0.9);
		display: flex;
	}
	20% {
		opacity: 0.2;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;

		transform: scale(1);
	}
}
.wrapper {
	display: flex;
	justify-content: space-between;
	background-color: inherit;
	outline: none;
	background-color: $block-color-dark;
	color: white;

	font-size: 24px;
	border-radius: 10px;
	border: none;
	width: 100%;

	align-items: center;
	cursor: pointer;
	padding: 15px;
	margin-bottom: 30px;
}
.events {
	height: 100%;
	width: 100%;
	background-color: $block-color-dark;
	z-index: 1;
	margin-bottom: 20px;
	border-radius: 10px;
	display: none;
	flex-direction: column;
	padding: 30px;
	transition: all 0.5s ease;
	.participant {
		display: flex;
		align-items: center;
		margin-top: 10px;
		img {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			margin-right: 15px;
		}
		div {
			font-size: 17px;
		}
	}

	&.active {
		display: flex;
		animation: scaleIn 0.35s ease-in-out;
	}
	div,
	h3 {
		margin-right: auto;
	}
	h3 {
		font-weight: 300;
		margin-top: 20px;
		margin-bottom: 15px;
	}
	.task {
		text-align: left;
		line-height: 20px;
		font-size: 16px;
	}
	.reward {
		display: flex;
		align-items: center;
		img {
			margin-right: 10px;
		}
	}
	button {
		margin-top: 20px;
		background-color: #2069e0;
		color: white;
		font-size: 18px;
		width: 100%;
		border-radius: 10px;
		border: none;
		outline: none;
		padding: 10px 15px;
		cursor: pointer;
	}
}
.line {
	height: 2px;
	width: 100%;
	background-color: $white;
	margin: 0 auto;
	margin-top: 10px;
}
.create {
	background-color: $block-color-dark;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 20px;
	border-radius: 10px;
}
