@import 'src/assets/styles/variables';
.wrapper {
	background-color: $block-color-dark;
	width: 150px;
	height: 150px;
	padding: 15px;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
	h2{
		font-weight: 300;
		font-size: 24px;
		line-height: 30px;
		
	}
	img{
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
}
